#############
## IntelliJ IDEA
#############
.idea/
*.iml
*.ipr
*.iws
out/

#################
## svn
#################
.svn/

#################
## vi
#################
.*.swp



#################
## Eclipse
#################

*.pydevproject
.project
.metadata
.mymetadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.myeclipse/
.loadpath
