<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>config</servlet-name>
        <servlet-class>ConfigServletTest</servlet-class>
        <init-param>
            <param-name>firstName</param-name>
            <param-value>zhang</param-value>
        </init-param>
        <init-param>
            <param-name>lastName</param-name>
            <param-value>san</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>config</servlet-name>
        <url-pattern>/config/*</url-pattern>
    </servlet-mapping>

</web-app>
